@import url("https://fonts.googleapis.com/css?family=Didact+Gothic|Oswald|Fredoka+One");

$logo-font: "Fredoka One", cursive;
$body-font: "Didact Gothic", sans-serif;
$title-font: "Oswald", sans-serif;

// theme
$body-bg-color: #262626;
$body-font-color: #e7bd47;

$primary-color: #262626;
$secondary-color: #e7bd47;
$body-color: #fff;

$board-background: #56575c;
$board-border: #7f8088;

$x-color: #8ce4c4;
$o-color: #e7bd47;

$btn-hover-shadow: rgba(0, 0, 0, 0.5);

$score-inactive: #616161;
$score-draw-font: #bfbfbf;
$score-draw-bg: rgba(0, 0, 0, 0.3);
