@import "./sass/breakpoints.scss";

.pc__nav {
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
  animation: FadeIn 0.25s linear;

  > .panel-heading {
    display: flex;
    align-items: center;
    border: none !important;
    background: transparent;

    > .panel-title {
      flex: 1;
      font-weight: bold;
    }

    > .panel-options {
      > button {
        margin-left: 10px;
      }
    }
  }

  > .panel-block {
    border: none;

    &.todo {
      background: #f2f2f2;
    }

    &.done {
      background: #f2f2f2;
    }

    &.form {
      border-top: 1px solid #f3f3f2;
    }
  }

  .pc__todo,
  .pc__done {
    height: 44px;
    position: relative;
  }

  .pc__done {
    span {
      text-decoration: line-through;
    }

    time {
      margin-left: 10px;

      @include breakpoint(tablet, min) {
        display: none;
      }
    }
  }

  .pc__todo {
    button {
      border: none;
      padding: none;

      @include breakpoint(tablet, min) {
        display: none;
      }

      > i {
        line-height: 2;
        color: red;
      }
    }

    &:hover {
      button {
        display: block;
      }
    }
  }
}
