.home__empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;

  > img {
    width: 250px;
  }

  > h1 {
    margin-top: 15px;
    font-weight: bold;
  }

  > button {
    margin-top: 15px;
  }
}

.home__loading {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  animation: FadeIn 0.25s linear;
  animation: FadeOut 0.25s linear;
}
