.row__overlay {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.5;
  justify-content: center;
  align-items: center;

  &.row__overlay--deleting {
    background: ff3860;
  }

  &.row__overlay--completing {
    background: #23d160;
  }

  &.row__overlay--uncompleting {
    background: #209cee;
  }
}
