.main__navbar {
  display: flex;
  align-items: center;
  height: 60px;
  margin-bottom: 15px;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.16);

  > div {
    display: flex;
    width: 100%;

    .navbar__logo {
      display: flex;
      align-items: center;
      margin-right: 10px;

      > a {
        display: flex;
        align-items: center;

        img {
          width: 40px;
        }
      }
    }

    .navbar__left {
      display: flex;
      flex: 1;
      align-items: center;
    }

    .navbar__right {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: flex-end;

      .navbar__username {
        margin-right: 15px;
        font-weight: bold;
      }

      > .field {
        display: flex;
        align-items: center;
      }
    }
  }
}
