@import "sass/breakpoints.scss";

.edi__modal__overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  animation: FadeIn 0.25s linear;

  .edi__modal {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 4px 32px -12px rgba(0, 0, 0, 0.3),
      0px 6px 21px -4px rgba(0, 0, 0, 0.16);
    position: relative;
    overflow: auto;
    outline: none;
    animation: PopUp 0.25s linear;
    max-width: 320px;

    > .header {
      display: flex;
      position: relative;
      background: #363636;
      height: 150px;

      > .header-info {
        flex: 1;
        display: flex;
        align-items: center;
        padding: 10px;
        margin-left: 10px;
        color: #fff;
        flex-direction: column;
        justify-content: center;
        z-index: 1;

        > span {
          margin-top: 5px;
        }
      }

      > svg {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 40px;
      }

      > .close {
        margin: 5px;
        z-index: 2;
        position: absolute;
        right: 0;

        button {
          width: 35px;
          height: 35px;
        }
      }
    }

    > .content {
      padding: 30px 60px;

      @include breakpoint(phone) {
        padding: 20px;
      }
    }
  }
}

// should be refactored
.modal__confirm__options {
  display: flex;
  justify-content: space-around;
}
