@import "bulma/bulma.sass";

@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes FadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes PopUp {
  0% {
    transform: scale(0);
  }
  75% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

.container {
  padding: 0 20px;
}

.App {
  > .container {
    padding-bottom: 20px;
  }
}
