.auth {
  article.message {
    margin-top: 15px;
  }

  div.box {
    margin-top: 75px;
  }

  .avatar {
    margin-top: -70px;
    padding-bottom: 20px;

    > img {
      width: 150px;
    }
  }
}
